body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background:
  radial-gradient(circle at 20% 30%, #1b263b,transparent),
  radial-gradient(circle at 80% 70%,#0d1b2a,transparent),
  #020617;
  color: #E5E7EB;
  display: flex;
  justify-content: center;
  padding: 40px;
}

/* CONTAINER */

.container {
  width: 600px;
}

/* TITLE */

h1 {
  text-align: center;
  background: linear-gradient(90deg,#22D3EE,#8B5CF6);
  -webkit-background-clip: text;
  color: transparent;
}

/* PROFILE CARD */

.profile-card {
  background: #1E293B;
  border-radius: 20px;
  padding: 25px;
  border: 1px solid #334155;
  text-align: center;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #8B5CF6;
}

/* INFO */

.info p {
  margin: 5px 0;
  color: #9CA3AF;
}

/* STATS */

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.stat-box {
  background: #1E293B;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #334155;
}

/* BUTTONS */

.buttons {
  margin-top: 20px;
  text-align: center;
}

button {
  background: #8B5CF6;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #7C3AED;
  box-shadow: 0 0 12px #8B5CF6;
}